# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
lib/
bin/
include/

# Python virtual environment files
*.pyenv
*.venv
*.env
*.virtualenv

# VSCode settings (if using VSCode)
.vscode/

# macOS system files
.DS_Store
